#app {
	margin: 0;
	padding: 0;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	flex-direction: column;
}

.Navbar {
	padding-left: 10vh;
	padding-right: 10vh;
}

.vertical-line {
	border-left: 1px solid black;

	height: 1vh;

	margin: 0 10px;

}

.search-form-enter-active,
.search-form-leave-active {
	transition: transform 0.5s ease, opacity 0.2s ease;
}

.search-form-enter,
.search-form-leave-to {
	transform: translateX(100%);
	opacity: 0;
}

.search-form-enter-to,
.search-form-leave {
	transform: translateX(-5%);
	opacity: 1;
	margin-right: 5%;
}

.vertical-line {
	border-left: 0.2px solid gray;

	height: 24px;

	margin: 0 10px;

}

.subnavbar {
	border-top: 0.2px solid gray;
	border-bottom: 0.2px solid gray;

	.subnavbar-links {
		a {
			text-decoration: solid;
			margin-right: 1.5vh;
			color: silver;
			font-weight: 600;
		}

		#home-link:hover {
			color: red;
		}

		#business-link:hover {
			color: skyblue;
		}

		#politics-link:hover {
			color: darkblue;
		}

		#environment-link:hover {
			color: green;
		}

		#world-link:hover {
			color: orange;
		}

		#technology-link:hover {
			color: rgb(2, 196, 2);
		}

		#sports-link:hover {
			color: rgb(66, 12, 12);
		}

		#health-link:hover {
			color: purple;
		}

		#entertainment-link:hover {
			color: aqua;
		}

		#lifestyle-link:hover {
			color: pink;
		}
	}
}

.breaking-news-tab {
	display: flex;
	padding-top: 2vh;

	#title {
		height: 4.5vh;
		border: 2px solid red;
		color: white;
		padding: 1vh;
		background-color: red;
		overflow: hidden;
		white-space: nowrap;
		position: relative; /* Ensure position is relative */
		z-index: 2;
	
		h6 {
			font-weight: 700;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	
	#context {
		border: 2px solid white;
		color: black;
		display: flex;
		margin-left: 1vh;
		overflow: hidden;
		height: 4.5vh;
		white-space: nowrap;
		position: relative; /* Ensure position is relative */
		z-index: 1; /* Ensure this is lower than #title */

		span {
			margin-top: auto;
			margin-bottom: auto;
		}

		.slide-up-enter-active {
			transition: transform 0.5s ease, opacity 0.5s ease;
		}

		.slide-up-enter-from {
			transform: translateY(100%);
			opacity: 1;
		}

		.slide-up-enter-to {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.breaking-news-cards {
	margin-top: 2vh;
	text-shadow:
		-0.4px -0.4px 0 #000,
		0.4px -0.4px 0 #000,
		-0.4px 0.4px 0 #000,
		0.4px 0.4px 0 #000;

	.img-col {
		height: 30vh;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		overflow: hidden;
		margin-bottom: 3vh;
	}

	.img-col::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.img-col:hover::after {
		opacity: 1;
	}

	.add {
		margin-bottom: 3vh;
	}

	.img-col-add {
		height: 100%;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.context {
		height: 100%;
		display: flex;
		flex-direction: column;
		color: white;
		padding: 2vh;
		z-index: 2;
		position: relative;
		z-index: 2;
	}

	.badge {
		font-size: 1.7vh;
		margin-left: auto;
	}

	.details {
		font-size: 1.5vh;
		margin-top: auto;
		margin-right: auto;
		font-weight: 700;
	}

	h6 {
		text-align: start;
		font-weight: 700;
	}

	.carousel-container {
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 30vh;
	}

	.carousel {
		display: flex;
		transition: transform 0.5s ease-in-out;
		height: 100%;
	}

	.carousel-slide {
		min-width: 100%;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: relative;
		overflow: hidden;
	}

	.carousel-slide::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.carousel-slide:hover::before {
		opacity: 1;
	}

	.carousel-content {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		color: white;
		padding: 2vh;
	}

	.carousel-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(0, 0, 0, 0.5);
		border: none;
		color: white;
		padding: 10px;
		cursor: pointer;
		font-size: 1.5vh;
	}

	.carousel-button.prev {
		left: 10px;
	}

	.carousel-button.next {
		right: 10px;
	}


	.indicators {
		position: absolute;
		bottom: 10px;
		right: 10px;

		display: flex;
		gap: 5px;
		transform: none;

	}

	.indicator {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: white;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.indicator.active {
		background-color: red;
	}

	.advertisement-span {
		color: gray;
		margin-bottom: 0vh;
		font-size: 1.2vh;
		text-align: end;
		font-weight: 100;
	}
}

.advertisement-card {

	.advertisement-span {
		color: gray;
		margin-bottom: 0vh;
		font-size: 1.2vh;
		text-align: end;
	}

	.card {
		width: 100%;
		height: 12vh;
		background-size: 100% 100%;
	}
}

.latest-news-cards {
	margin-top: 3vh;


	.carousel-cards {
		position: relative;
		overflow: hidden;
		width: 100%;
	}

	.carousel-cards-inner {
		display: flex;
		transition: transform 0.5s ease;
	}

	.carousel-cards-item {
		flex: 0 0 25%;
		box-sizing: border-box;
		padding: 15px;
	}

	.card {
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		height: 30vh;
		border: 0.1vh solid gray;
	}

	.card-img-container {
		position: relative;
	}

	.card-img-top {
		width: 100%;
		height: 15vh;
	}

	.badge {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;
		font-size: 1.7vh;
	}

	.card-body {
		padding: 15px;
	}

	.card-title,
	.card-text {
		margin: 0px;
	}

	.title-and-controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.carousel-controls {
		display: flex;
		align-items: center;
	}

	.carousel-cards-control-prev,
	.carousel-cards-control-next {
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(0, 0, 0, 0.5);
		border: none;
		color: white;
		cursor: pointer;
		font-size: 3vh;
		margin: 0.5vh;
		margin-bottom: -8vh;
		height: 6vh;
		position: relative;
		z-index: 2;
	}

	hr {
		position: relative;
		margin-right: 8vh;
		margin-top: -0.5vh;
		font-weight: 900;
		border: 2px solid gray;
	}

	#red-hr {
        border: 2px solid red;
		margin-top: -2vh;
		font-weight: 900;
		width: 6vh;
	}

}

.categories-cards {
	margin-top: 2vh;

	hr {
		position: relative;
		margin-top: -0.5vh;
		font-weight: 900;
		border: 2px solid gray;
	}

	h4 {
		margin-top: 2vh
	}

	#red-hr {
        border: 2px solid red;
		margin-top: -2vh;
		font-weight: 900;
		width: 6vh;
	}

	.card-content {
		border-radius: 5px;
		border: 0.1vh solid gray;
	}

	.card-content:not(:first-child) {
		margin-top: 2vh;
	}

	.card {
		border-radius: 5px;
		overflow: hidden;
		position: relative;

	}

	.card-img-container {
		position: relative;

	}

	.card-img-top {
		width: 100%;
		height: 35vh;
		object-fit: cover;
		object-position: center;
	}

	.badge {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;
		font-size: 1.7vh;
	}

	.card-body {
		padding: 15px;
	}

	.card-title,
	.card-text {
		margin: 0px;
	}

	.bi {
		font-size: 3.5vh;

		margin: 0.6vh;

		background-color: black;
		color: white;
		border-radius: 5px;
		padding: 0.4vh;
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
	}

	.bi-facebook {
		background: rgb(68, 68, 141);
	}

	.bi-instagram {
		background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
	}

	.bi-google {
		background: rgb(133, 3, 3);
	}

	.bi-twitter {
		background: skyblue;
	}

	.bi-youtube {
		background-color: red;
	}

	.bi-linkedin {
		background: rgb(74, 74, 222);
	}

	.img-col-add-prime {
		height: 9vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.img-col-add-exclusive {
		height: 27vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.img-col-add-elite {
		height: 27vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.advertisement-span {
		color: gray;
		margin-bottom: 0vh;
		font-size: 1.2vh;
		text-align: end;
		margin-top: 1vh;
	}

	.col-weather {
		text-align: center;
		margin-top: 2vh;
		border-radius: 5px;
		border: 0.1vh solid gray;

		.bi {
			font-size: 1.3vh;

			margin: 0.6vh;

			background-color: white;
			color: gray;
			border-radius: 5px;
			padding: 0.4vh;
			display: inline-block;
			text-align: center;
			line-height: 1;
			cursor: pointer;
		}
	}

	.list-group-item {
		display: flex;
		font-weight: 550;

		.bi {
			background-color: white;
			padding: 0vh;
			padding-left: 2vh;
			font-size: 2.5vh;

			margin: 0.6vh;
			margin-left: auto;

			color: gray;
			border-radius: 5px;
			display: inline-block;
			line-height: 1;
			cursor: pointer;
		}

	}

	.list-group-item:hover {
		color: gray;

		.bi {
			padding: 0vh;
			padding-left: 2vh;
			font-size: 2.5vh;
			margin: 0.6vh;
			margin-left: auto;
			color: red;
			border-radius: 5px;
			display: inline-block;
			line-height: 1;
			cursor: pointer;
		}
	}

	.category-popular-news {

		.card-img-top {
			width: 100%;
			height: 20vh;
			object-fit: cover;
			object-position: center;
		}

	}
}


.contact-subscribe {
	margin-top: 10vh;

	hr {
		position: relative;
		margin-top: -0.5vh;
		font-weight: 900;
		border: 2px solid gray;
	}

	h4 {
		margin-top: 2vh
	}

	#red-hr {
        border: 2px solid red;
		margin-top: -2vh;
		font-weight: 900;
		width: 6vh;
	}

	p {
		color: gray
	}

	.about-us-section {
		padding-top: 2vh;
		padding-bottom: 2vh;

		h6 {
			font-weight: 600;
		}

		a {
			color: gray;
			text-decoration: none
		}

		a:hover {
			cursor: pointer;
			color: red
		}
	}

	.weekly-newsletter-section {
		padding-top: 2vh;
		padding-bottom: 2vh;

		input {
			border: 2px solid white;
			padding: 1vh;
			margin-top: 1vh;
			padding-right: 7vh;
			padding-left: 2.5vh;
		}

		#btn {
			margin-top: 1vh;
			border-radius: 0px;
			background: red;
			padding-right: 2.5vh;
			padding-left: 2.5vh;
			font-size: 1.6vh;
		}
	}

	.logo-section {}
}

.footer {
	margin-top: 5vh;
	height: 10vh;

	.logo-section {
		height: 10vh;
		display: flex;
		background-color: rgb(216, 212, 212);

		img {
			margin: auto;
		}
	}

	.footer-content {
		background: rgb(27, 27, 27);
		color: white;

		.footer-category {
			display: flex;
			justify-content: center;
			padding-top: 1vh;
			padding-bottom: 1vh;

			h6 {
				margin: 2vh;
			}

			a {
				text-decoration: none;
				color: white;
			}
		}

		.footer-list {

			.col {
				margin-top: 5vh;
				margin-bottom: 5vh;


				.content {
					font-size: 1.4vh;
					margin-top: 3vh;

					.col {
						margin-top: 0vh
					}
				}

				p {
					color: rgb(194, 190, 190);
					margin-top: 0.5vh;
					margin-bottom: 0.5vh;
				}
			}
		}
	}

	.footer-bottom {
		background: rgb(19, 19, 19);
		display: flex;

		h6 {
			margin: auto;
			padding: 2vh;
			color: white;
		}

		a {
			color: gray;
			text-decoration: none;
		}

		a:hover {
			color: rgb(78, 78, 78)
		}
	}
}

/* Category Page */

.category-content {
	margin-top: 2vh;

	hr {
		position: relative;
		margin-top: -0.5vh;
		font-weight: 900;
		border: 2px solid gray;
	}

	h4 {
		margin-top: 2vh
	}

	#red-hr {
        border: 2px solid red;
		margin-top: -2vh;
		font-weight: 900;
		width: 6vh;
	}

	.card-content {
		border-radius: 5px;
		border: 0.1vh solid gray;
	}

	.card-content:not(:first-child) {
		margin-top: 5vh;
	}

	.card {
		border-radius: 5px;
		overflow: hidden;
		position: relative;

	}

	.card-img-container {
		position: relative;

	}

	.card-img-top {
		width: 100%;
		height: 55vh;
		object-fit: cover;
		object-position: center;
	}

	.badge {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;
		font-size: 1.7vh;
	}

	.card-body {
		padding: 15px;
	}

	.card-title,
	.card-text {
		margin: 0px;
	}

	.bi {
		font-size: 3.5vh;

		margin: 0.6vh;

		background-color: black;
		color: white;
		border-radius: 5px;
		padding: 0.4vh;
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
	}

	.bi-facebook {
		background: rgb(68, 68, 141);
	}

	.bi-instagram {
		background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
	}

	.bi-google {
		background: rgb(133, 3, 3);
	}

	.bi-twitter {
		background: skyblue;
	}

	.bi-youtube {
		background-color: red;
	}

	.bi-linkedin {
		background: rgb(74, 74, 222);
	}

	.img-col-add-prime {
		height: 9vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.img-col-add-exclusive {
		height: 27vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.img-col-add-elite {
		height: 27vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.advertisement-span {
		color: gray;
		margin-bottom: 0vh;
		font-size: 1.2vh;
		text-align: end;
		margin-top: 1vh;
	}

	.col-weather {
		text-align: center;
		margin-top: 2vh;
		border-radius: 5px;
		border: 0.1vh solid gray;

		.bi {
			font-size: 1.3vh;

			margin: 0.6vh;

			background-color: white;
			color: gray;
			border-radius: 5px;
			padding: 0.4vh;
			display: inline-block;
			text-align: center;
			line-height: 1;
			cursor: pointer;
		}
	}

	.category-popular-news {

		.card-img-top {
			width: 100%;
			height: 20vh;
			object-fit: cover;
			object-position: center;
		}

	}
}

/* Error Page */

.error {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	.content {
		margin: auto;
	}

	img {
		margin-bottom: 10vh;
	}

}

.detail-content {
	margin-top: 2vh;

	hr {
		position: relative;
		margin-top: -0.5vh;
		font-weight: 900;
		border: 2px solid gray;
	}

	h4 {
		margin-top: 2vh;
	}

	#red-hr {
        border: 2px solid red;
		margin-top: -2vh;
		font-weight: 900;
		width: 6vh;
	}

	.card-content {
		border-radius: 5px;
	}

	.card-content:not(:first-child) {
		margin-top: 5vh;
	}

	.card {
		border-radius: 5px;
		overflow: hidden;
		position: relative;

	}

	.card-img-container {
		position: relative;

	}

	.card-img-top {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.badge {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;
		font-size: 1.7vh;
	}

	.card-body {
		padding: 15px;
	}

	.card-title,
	.card-text {
		margin: 0px;
	}

	.bi {
		font-size: 3.5vh;

		margin: 0.6vh;

		background-color: black;
		color: white;
		border-radius: 5px;
		padding: 0.4vh;
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
	}

	.bi-facebook {
		background: rgb(68, 68, 141);
	}

	.bi-instagram {
		background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
	}

	.bi-google {
		background: rgb(133, 3, 3);
	}

	.bi-twitter {
		background: skyblue;
	}

	.bi-youtube {
		background-color: red;
	}

	.bi-linkedin {
		background: rgb(74, 74, 222);
	}

	.img-col-add-prime {
		height: 9vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.img-col-add-exclusive {
		height: 27vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.img-col-add-elite {
		height: 27vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.advertisement-span {
		color: gray;
		margin-bottom: 0vh;
		font-size: 1.2vh;
		text-align: end;
		margin-top: 1vh;
	}

	.col-weather {
		text-align: center;
		margin-top: 2vh;
		border-radius: 5px;
		border: 0.1vh solid gray;

		.bi {
			font-size: 1.3vh;

			margin: 0.6vh;

			background-color: white;
			color: gray;
			border-radius: 5px;
			padding: 0.4vh;
			display: inline-block;
			text-align: center;
			line-height: 1;
			cursor: pointer;
		}
	}

	.category-popular-news {

		.card-img-top {
			width: 100%;
			height: 20vh;
			object-fit: cover;
			object-position: center;
		}

	}
}